@media screen and (max-width: 769px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: min(13em, 100%);
        z-index: 50;
        border-left: 1px solid #1badff;
        background-color: slategray;
        transition: right 300ms ease-out;
    }

    nav.show {
        right: 0;
    }


}